@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  background-color: #f7f2e9;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.container {
  max-width: 100rem; /* Increase max-width for larger container */
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.header {
  align-self: stretch;
  text-align: center;
}

.header h1 {
  color: #edc84b;
  text-transform: uppercase;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  display: block;
}

.header h1::before,
.header h1::after {
  content: '';
  height: 3px;
  width: 12rem;
  background-color: #edc84b;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.menu {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 10rem; /* Space between items */
  margin-top: 3rem;
}

.menu h2 {
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.pizzas {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4.8rem;
  justify-items: center;
}

.pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
  width: 28rem;
  padding: 3rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.pizza input[type="number"] {
  width: 50px;
  padding: 5px;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.pizza img {
  width: 18rem;
  aspect-ratio: 1;
  align-self: center;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 400;
}

.pizza p1 {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: auto;
}

.pizza p2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cb5135;
}

.pizza span {
  display: block;
  font-size: 1.6rem;
}

.pizza.sold-out {
  color: #888;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.footer {
  font-size: 1.4rem;
}

.order-summary {
  margin-top: 2rem;
  text-align: center;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.order-item button {
  background-color: #cb5135;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e95f24;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
